<% provide(:title, t('.title_html')) %>
<h1><%= t('.title_html') %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, t('.name_html') %>
      <%= f.text_field :name, placeholder: 'James Willson' %>

      <%= f.label :email, t('.email_html') %>
      <%= f.text_field :email, placeholder: 'user@example.com' %>

      <%= f.label :password, t('.password_html') %>
      <%= f.password_field :password, placeholder: '••••••' %>

      <%= f.label :password_confirmation, t('.confirmation_html') %>
      <%= f.password_field :password_confirmation, placeholder: '••••••' %>

      <%= f.submit t('.submit_html'), class: 'btn btn-large btn-block btn-primary button_font' %>
    <% end %>
  </div>
</div>
