<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag(@user.avatar.url, :class => 'avatar') %>
        <%= link_to @user.name, @user %>
      </h1>
      <span><b><%= t('.posts_html') %></b> <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3 style="display: inline-block;"><%= t('.activity_html') %> (<%= @user.microposts.count %>)</h3>
    <h3 style="float: right;"><%= render 'follow_form' if signed_in? %></h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  </div>
</div>
