<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <%= t('.following_html') %>
    <br>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t('.users_html') %>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <%= t('.followers_html') %>
    <br>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t('.users_html') %>
  </a>
</div>
